<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icono.png">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Notificaciones</title>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-graduation'></i>
            <span class="logo_name">Tutorias Academicas</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="ramas">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Ramas</span>
                </a>
            </li>
            <li>
            <li>
                <a href="docentes">
                    <i class='bx bx-user'></i>
                    <span class="link_name">Docentes</span>
                </a>
            </li>
            <li>
                <a href="notificaciones">
                    <i class='bx bx-notification'></i>
                    <span class="link_name">Notificaciones</span>
                </a>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="https://yt3.googleusercontent.com/yNh03OqGSXnnXICC-Wk4xJhk5lPhSoT60dw-QZK5GBTZu1MQm6hn02XLk37uyolUbhtypkjGQg=s900-c-k-c0x00ffffff-no-rj" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Leandro F</div>
                        <div class="job">Estudiante</div>
                    </div>
                    <a href="login"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <div>
                <div class="box">
                    <h3>Notificaciones</h3>
                    <div class="list">
                        <div class="imgBx">
                            <img src="https://cdn-icons-png.flaticon.com/512/60/60753.png" alt="">
                        </div>
                        <div class="content">
                            <h4>Ing. Juan Carlos Sendon | 5to Nivel</h4>
                            <p>Tutoría Aceptada</p>
                        </div>
                    </div>
                    <div class="list">
                        <div class="imgBx">
                            <img src="https://cdn-icons-png.flaticon.com/512/60/60753.png" alt="">
                        </div>
                        <div class="content">
                            <h4>Ing. Patricia Quiroz | 5to Nivel</h4>
                            <p>Tutoría Aceptada</p>
                        </div>
                    </div>
                    <div class="list">
                        <div class="imgBx">
                            <img src="https://cdn-icons-png.flaticon.com/512/60/60753.png" alt="">
                        </div>
                        <div class="content">
                            <h4>Ing. Robert Moreira | 5to Nivel</h4>
                            <p>Tutoría Rechazada</p>
                        </div>
                    </div>
                    <div class="list">
                        <div class="imgBx">
                            <img src="https://cdn-icons-png.flaticon.com/512/60/60753.png" alt="">
                        </div>
                        <div class="content">
                            <h4>Ing. Dennys Zamora | 4to Nivel</h4>
                            <p>Tutoría Aceptada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</body>
</html>